*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFF;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: flex;
    gap: 1rem;
}

.card {
    width: 290px;
    max-width: 95%;
    padding: 2.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #FFF;
    box-shadow: 0 0 30px 5px hsl(0, 0%, 0%, 0.25);
}

.card__1 {
    transform: scale(1);
    z-index: 0;
}

.card__2 {
    transform: scale(1.15);
    z-index: 1;
}

.card__3 {
    transform: scale(1);
    z-index: 0;
}

.card__img {
    border-radius: 50%;
    width: 100px;
    margin: 0 auto 2rem;
}

.card__title {
    color: #202637;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.title__secondary {
    font-size: 1.4rem;
}

.card__desc {
    color: #929396;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.desc__secondary {
    font-size: 1rem;
}

.btn__new {
    font: inherit;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    transition: 0.3s ease;
    color: #202637;
    border: 1px solid #202637;
}

.btn__new:hover {
    color: #FFF;
    background-color: #202637;
}

.btn {
    font: inherit;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.85rem 1.7rem;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: 0.3s ease;
    color: #FFF;
    background-color: #748DFF;
    box-shadow: 0 10px 10px -5px #748DFF;
}

.btn:hover {
    opacity: 0.85;
}

@media (max-width: 930px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0.5rem;
    }

    .card__2 {
        transform: scale(1);
    }

    .title__secondary {
        font-size: 1.6rem;
    }

    .desc__secondary {
        font-size: 1.2rem;
    }

    .btn__new {
        font-size: 1.1rem;
        padding: 0.85rem 1.7rem;
        border: none;
        color: #FFF;
        background-color: #748DFF;
        box-shadow: 0 10px 10px -5px #748DFF;
    }

    .btn__new:hover {
        opacity: 0.85;
        background-color: #748DFF;
    }
}